{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "plugins": ["@typescript-eslint", "react-hooks"],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-extra-boolean-cast": 0,
    "no-prototype-builtins": 0,
    "no-console": 0,
    "no-undef": 2,
    "semi": ["error", "always"],
    "no-use-before-define": 0,
    "arrow-parens": 2,
    "no-unused-vars": "off",
    "prefer-const": [
      0,
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "linebreak-style": ["error", "unix"],
    "quotes": [2, "single", "avoid-escape"],
    "import/prefer-default-export": 0,
    "react/prop-types": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-unused-vars": 1
  }
}
